In [5]:
!pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\users\neo\anaconda3\envs\my1\lib\site-packages (0.24.2)
Requirement already satisfied: numpy>=1.13.3 in c:\users\neo\anaconda3\envs\my1\lib\site-packages (from scikit-learn) (1.19.5)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\neo\anaconda3\envs\my1\lib\site-packages (from scikit-learn) (3.1.0)
Requirement already satisfied: scipy>=0.19.1 in c:\users\neo\anaconda3\envs\my1\lib\site-packages (from scikit-learn) (1.5.4)
Requirement already satisfied: joblib>=0.11 in c:\users\neo\anaconda3\envs\my1\lib\site-packages (from scikit-learn) (1.1.1)

In [1]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

## Loading data

In [4]:
df=pd.read_csv('vehicles.csv')
df.head(8)

   Age  Gender  Income Favorite Transport
0    5  female     NaN            bicycle
1    8    male     NaN            scooter
2   10  female     NaN            bicycle
3   14    male     NaN              metro
4   16    male     NaN              metro
5   18  female     NaN              metro
6   20    male   200.0            scooter
7   22  female   500.0            scooter

In [5]:
df.dtypes

Age                     int64
Gender                 object
Income                float64
Favorite Transport     object
dtype: object

## Cleaning

In [3]:
df.isnull().sum()

Age                   0
Gender                0
Income                6
Favorite Transport    0
dtype: int64

In [6]:
df['Income'].fillna(0.0, inplace=True)
df.head()

   Age  Gender  Income Favorite Transport
0    5  female     0.0            bicycle
1    8    male     0.0            scooter
2   10  female     0.0            bicycle
3   14    male     0.0              metro
4   16    male     0.0              metro

In [7]:
df.isnull().sum()

Age                   0
Gender                0
Income                0
Favorite Transport    0
dtype: int64

## Encoding

In [14]:
df['Gender'].unique()

array(['female', 'male'], dtype=object)

In [22]:
df.replace({
    'Gender': {
        'male': 0,'female': 1
    }
})

TypeError: Cannot compare types 'ndarray(dtype=int64)' and 'str'

## Model

In [9]:
X=df.drop(columns='Favorite Transport')
X.head(3)

   Age  Gender  Income
0    5  female     0.0
1    8    male     0.0
2   10  female     0.0

In [11]:
y=df['Favorite Transport']
y.head(3)

0    bicycle
1    scooter
2    bicycle
Name: Favorite Transport, dtype: object

In [12]:
model=DecisionTreeClassifier()
model

DecisionTreeClassifier()

In [13]:
model.fit(X,y)

ValueError: could not convert string to float: 'female'

## Prediction

## Evalution